/* ### RESETS ### */

*, *::after, *::before { box-sizing: border-box; }
body, h1, h2, h3, h4, p, li, figure, figcaption, blockquote, dl, dd { margin: 0; padding: 0; }

/* ############# 
GLOBAL VARIABLES 
############# */

:root{
    --primary-colour-1: ;
    --primary-colour-2: ;
    --secondary-colour-1: ;
    --secondary-colour-2: ;
    --accent-colour-1: ;
    --accent-colour-2: ;
    --colour-gradient-1: ;
    --colour-gradient-2: ;
    --font-family-serif: serif;
    --font-family-sans-serif: sans-serif;
    --global-sizing-unit: ;
}

/* ########## 
GLOBAL VALUES
########## */

:root,
button,
input,
::placeholder {
    font-size: 16px;
}

body {
    min-height: 100vh;
}

/* #######
TYPOGRAPHY
####### */

/* ###############
COLOUR AND ACCENTS
############### */

/* ###################
LAYOUT AND COMPOSITION
################### */

/* ####### 
ANIMATIONS
####### */

/* ##########
MEDIA QUERIES
########## */

/* ######
OVERRIDES
###### */

/* ######
DEBUGGING
###### */

/* * {
    border: 2px solid limegreen;
    background-color: rgba(255, 0, 0, 0.2);
} */