* {
    margin: 0;
    padding: 0;
}

/* ### GLOBAL VARIABLES ### */

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-grey: hsl(0, 0%, 95%);
    --cursive: 'Big Shoulders Display', cursive;
    --sans-serif: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

/* ### TYPOGRAPHY ### */

h2 {
    font-family: var(--cursive);
    text-transform: uppercase;
    font-size: 2.625rem;
}

.flavour-text {
    font-family: var(--sans-serif);
    line-height: 1.5rem;
}

button {
    font-family: var(--sans-serif);
}

/* ### COLOUR ### */

body {
    background-color: var(--very-light-grey);
}

h2 {
    color: var(--very-light-grey);
}

.flavour-text {
    color: var(--transparent-white);
}

.bright-orange-card {
    background-color: var(--bright-orange);
}

.orange-button-container > button {
    color: var(--bright-orange);
}

.dark-cyan-card {
    background-color: var(--dark-cyan);
}

.cyan-button-container > button {
    color: var(--dark-cyan);
}

.very-dark-cyan-card {
    background-color: var(--very-dark-cyan);
}

.dark-cyan-button-container > button {
    color: var(--very-dark-cyan);
}

button {
    background-color: var(--very-light-grey);
}

button:hover,
button:focus {
    background-color: hsla(0, 0%, 100%, 0);
    border: 2px solid white;
    color: var(--very-light-grey);
}

/* ### LAYOUT ### */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    max-width: calc(100% - 4rem);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin: 2rem auto 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

section {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 2rem;
}

button {
    border: 2px solid hsla(0, 0%, 100%, 0);
    padding: 1rem 2rem;
    border-radius: 4rem;
}

footer {
    margin-bottom: 2rem;
}

/* ### MEDIA QUERIES ### */

@media screen and (max-height: 24rem) {
    
    :root, button {
        font-size: 11px;
    }
    
}

@media screen and (min-width: 38rem) {
    
    main {
        max-width: min(48rem, calc(100% - 4rem));
        grid-template-rows: none;
        grid-template-columns: repeat(3, 1fr);
    }

}

/* ### FRONTEND MENTOR FOOTER ### */


.attribution { font-family: var(--sans-serif); font-size: 0.8rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
