:root {
    --custom-delay: 32000ms;
}

button:focus:not(:focus-visible) {
    outline: none 
}

*, *::after, *::before, button {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: black;
    display: grid;
    height: 100dvh;
    grid-template-rows: 5dvh 85dvh 10dvh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3dvh;
    color: white;
}

section {
    visibility: hidden;
}

section[data-active] {
    visibility: visible;
}

@keyframes ellipse1 {
    0% {opacity: 1;}
    33% {opacity: 0;}
    66% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes ellipse2 {
    0% {opacity: 0;}
    33% {opacity: 1;}
    66% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes ellipse3 {
    0% {opacity: 0;}
    33% {opacity: 0;}
    66% {opacity: 1;}
    100% {opacity: 0;}
}

.ellipse-1 {
    animation: ellipse1 3s infinite ease-in-out;
}

.ellipse-2 {
    animation: ellipse2 3s infinite ease-in-out;
}

.ellipse-3 {
    animation: ellipse3 3s infinite ease-in-out;
}


p {
    text-align: center;
    color: white;
    font-size: 2rem;
}

.div__button-container[data-loading] {
    visibility: hidden;
}

.div__button-container {
    visibility: visible;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.div__button-container > button {
    width: 12rem;
    padding: 0.25rem 0;
    background-color: black;
    color: white;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 0.5rem;
}

button:hover {
    cursor: pointer;
    background-color: white;        
    color: black;
}

button:focus {
    outline: 3px solid limegreen;
}

ul {
    visibility: hidden;
    width: calc(100dvw - 3rem);
    height: 100%;
    margin: 0 auto;
    list-style: none;
    position: relative;
}

ul[data-active] {
    visibility: visible;
}

li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    padding: 2dvh 1dvw;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-size: 5dvw;
    text-align: center;
}

img {
    display: block;
    height: 100%;
    object-fit: cover;
    overflow-x: hidden;
}

footer {
    display: grid;
    grid-template-columns: 1fr 52dvw 1fr;
    justify-content: center;
    align-items: center;
}

.timer-container {
    border-radius: 4rem;
    border: 0.5dvh solid white;
    overflow: hidden;
    width: 50dvw;
    height: 2dvh;
}

.footer__controls-container {
    visibility: visible;
    display: flex;
    justify-content: space-evenly;
}

.footer__controls-container[data-loading] {
    visibility: hidden;
}

.footer__controls-container > button {
    aspect-ratio: 1/1;
    height: 4dvh;
    background-color: black;
    border: none;
    border-radius: 50%;
    /* padding: 0.25rem; */
    overflow: hidden;
}

svg {
    /* color: white; */
    fill: white;
}

.state-btn > svg:hover {
    cursor: pointer;
    background-color: white;
    fill: black;
}

.state-btn[data-active] > svg {
    background-color: white;
    fill: black;
}

.footer__answer-reveal {
    position: absolute;
    font-size: 3dvw;
    text-align: right;
    bottom: 10dvh;
    right: 2dvw;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 1dvw;
    visibility: visible;
    transition: 500ms ease-in;
}

.footer__answer-reveal[data-active="false"] {
    visibility: hidden;
    transition: 500ms ease-in;
}

@keyframes timer {
    0%  {transform: translateX(0%);}
    9%  {transform: translateX(0%);}
    91% {transform: translateX(-100%);}
    98% {transform: translateX(-100%);}
    100%  {transform: translateX(0%);}
}

.timer-bar {
    visibility: hidden;
}

.timer-bar[data-active] {
    visibility: visible;
    height: 100%;
    width: 100%;
    background-color: white;
    animation-name: timer;
    animation-duration: var(--custom-delay);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes frame1 {

    0% {opacity: 0;}
    1% {opacity: 1;}
    8% {opacity: 1;}
    10% {opacity: 0;}
    98% {opacity: 0;}
    100% {opacity: 0;}
    
}

@keyframes frame2 {
    
    0% {opacity: 0;}
    8% {opacity: 0;}
    10% {opacity: 1;}
    24% {opacity: 1;}
    26% {opacity: 0;}
    100% {opacity: 0}

}

@keyframes frame3 {
    
    0% {opacity: 0;}
    24% {opacity: 0;}
    26% {opacity: 1;}
    40% {opacity: 1;}
    42% {opacity: 0;}
    100% {opacity: 0}

}

@keyframes frame4 {
    
    0% {opacity: 0;}
    40% {opacity: 0;}
    42% {opacity: 1;}
    56% {opacity: 1;}
    58% {opacity: 0;}
    100% {opacity: 0}

}

@keyframes frame5 {
    
    0% {opacity: 0;}
    56% {opacity: 0;}
    58% {opacity: 1;}
    72% {opacity: 1;}
    74% {opacity: 0;}
    100% {opacity: 0}

}

@keyframes frame6 {
    
    0% {opacity: 0;}
    72% {opacity: 0;}
    74% {opacity: 1;}
    99% {opacity: 1;}
    100% {opacity: 0}

}

@keyframes frame7 {
    
    0% {opacity: 0;}
    90% {opacity: 0;}
    92% {opacity: 1;}
    98% {opacity: 1;}
    100% {opacity: 0;}
    
}

.frame-1[data-active] {
    animation: frame1 var(--custom-delay) infinite;
}

.frame-2[data-active] {
    animation: frame2 var(--custom-delay) infinite;
}

.frame-3[data-active] {
    animation: frame3 var(--custom-delay) infinite;
}

.frame-4[data-active] {
    animation: frame4 var(--custom-delay) infinite;
}

.frame-5[data-active] {
    animation: frame5 var(--custom-delay) infinite;
}

.frame-6[data-active] {
    animation: frame6 var(--custom-delay) infinite;
}

.frame-7[data-active] {
    animation: frame7 var(--custom-delay) infinite;
}

@media screen and (orientation: portrait) {

    h1 {
        font-size: 4dvw;
    }

    img {
        height: auto;
        width: 100%;
    }

    ul {
        width: 100%;
    }
}